body {
    font-family: "consolas"; /* kokoasanarigato*/
    text-align: center;
}

#trackingclock {
    position: absolute;
    font-family: "DotGothic16";
    font-size: 12px;
    font-style: Regular;
    user-select: none;
    pointer-events: none;
}